*, *::before, *::after {
	box-sizing: border-box;
}

#board {
	line-height: 0;
	display: inline-block;
	white-space: nowrap;
}

.square {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-size: cover;
}

.hidden-square {
	background-color: #BDBDBD;
	border-top: 4px solid white;
	border-left: 4px solid white;
	border-right: 4px solid #7B7B7B;
	border-bottom: 4px solid #7B7B7B;
}

.revealed-square {
	background-color: #BDBDBD;
	border: 1px solid #7B7B7B;
}
