*, *::before, *::after {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0px;
	background-color: #BDBDBD;
}

.hidden {
	display: none !important;
}

.center {
	text-align: center;
}

.button {
	cursor: pointer;
	background-color: #1166D0;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 7px 30px;
}

input[type="text"], input[type="number"], input:not([type]) {
	background-color: #E0E0E0;
	border: 1px solid #747474;
	border-radius: 2px;
	padding: 6px 2px;
}

input:focus {
	outline: none;
}

#wrapper {
	display: inline-block;
}

#loader {
	text-align: center;
	font-size: 3em;
	margin-top: 100px;
	text-decoration: underline;
}

#connection-error {
	text-align: center;
	font-size: 2em;
}

.controls {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	display: inline-block;
	align-self: flex-end;

}

#controls-wrapper {
	display: flex;
	justify-content: space-between;
	min-width: 800px;
}

#your-room-code {
	font-weight: bold;
}

.board-num-input {
	appearance: textfield;
	width: 3em;
}

.bad-board-input {
	outline: 3px solid red;
}

.input-row {
	margin-bottom: 2px;
}

#board {
	line-height: 0;
	display: inline-block;
	white-space: nowrap;
	border-left: 4px solid #7B7B7B;
	border-top: 4px solid #7B7B7B;
	border-right: 4px solid white;
	border-bottom: 4px solid white;
}

#board-wrapper {
	background-color: #BDBDBD;
	border-right: 4px solid #7B7B7B;
	border-bottom: 4px solid #7B7B7B;
	border-left: 4px solid white;
	border-top: 4px solid white;
	display: inline-block;
	padding: 10px;
}

.square {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-size: cover;
}

.hidden-square {
	background-color: #BDBDBD;
	border-top: 4px solid white;
	border-left: 4px solid white;
	border-right: 4px solid #7B7B7B;
	border-bottom: 4px solid #7B7B7B;
}

.revealed-square {
	background-color: #BDBDBD;
	border: 1px solid #7B7B7B;
}

.boom-mine {
	background-color: red;
	background-image: url("/mine.svg");
	border: 1px solid #7B7B7B;
}
